.git
.gitignore
.venv
venv
__pycache__
*.py[cod]
*.so
*.egg-info
build
data
notebooks
results
python/build
python/dist
dynamic_fic_dmf_Cpp/Eigen
dynamic_fic_dmf_Cpp/*.mexa64
slurm/outputs
slurm/errors
